:root {
    --background-color: #F1F2EB;
    --infobar-color: #cbe6cc;
    --navbar-color: #F1F2EB;

    --neutral-button-color: #31ac3d;
    --neutral-button-color-hover: #23792c;
    --neutral-button-color-shadow: #abdfb1;
    --neutral-button-color-disabled: #5BBA6F;

    --positive-button-color: #31ac3d;
    --positive-button-color-hover: #23792c;
    --positive-button-color-shadow: #abdfb1;

    --negative-button-color: #c81d25;
    --negative-button-color-hover: #9b181f;
    --negative-button-color-shadow: #dd9ca0;

    --list-color: #F1F2EB;
    --list-color-hover: #d9dad4;
    --list-color-active: #bfc0ba;

    --form-background-color: #f2f3f0;
}

html {
    background-color: var(--background-color);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(255, 255, 255);
  margin: 0;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--neutral-button-color-hover);
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: inline-grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--positive-button-color-hover);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.checkboxcontainer {
  margin-right: 1em;
}

.product-image {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
}

.product-image-list-view {
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
    object-fit: cover;
    padding-right: 10px;  
}

h2 {
    padding-left: 13px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.count-input {
  width: 100%;
}

#instruction-list {
    max-height: 300px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    border: solid 1px;
}

.better-notification {
    position: absolute !important;
    top: 10px;
    left: 45%;
    margin-left: -width;
}

.tooltip.show /* The CSS classes that the tooltip has */ {
    opacity: 0.5!important; /* or whatever */
}
.better-votes {
    padding-left: 10px;
}

/* _Colors_ */

/* Navbar */
#navbar {
    background-color: var(--navbar-color);
}
#navbar a {
    color:#137547;
    font-size: 17px;
    
    font-weight: 600;
    letter-spacing: 1px;
}
#navbar b {
    color:#939393;
    font-size: 17px;
}

/* Infobar */
#infobar {
    background-color: var(--infobar-color);
}

/* Background */
#background {
    background-color: var(--background-color);
}

/* List */
#list-item {
    background-color: var(--list-color);
}
#list > #list-item:hover { 
    background-color: var(--list-color-hover); 
}
#list > #list-item:active {
    background-color: var(--list-color-active); 
}
#list a {
    color: black;
}

/* List item buttons */
.ListItemButtons {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

/* Recycle graph */
.RecycleGraph {
    margin-bottom: 12px;
    text-shadow: #262525;
}

/* Instruction List */
#instruction-list-item {
    background-color: var(--list-color);
}
#instruction-list > #instruction-list-item:hover {
    background-color: var(--list-color-hover); 
}
#instruction-list > #instruction-list-item:active {
    background-color: var(--list-color-active); 
}
#instruction-list a {
    color: black;
}

/* Product view bottom padding */
#product-view-container, #product-list-view {
    padding-bottom: 30px;
}

/* Buttons */

/* default*/
.btn.btn-primary {
    background-color: var(--neutral-button-color);
    border-color: var(--neutral-button-color);
}
.btn.btn-primary:hover {
    background-color: var(--neutral-button-color-hover);
    border-color: var(--neutral-button-color);
}
.btn.btn-primary:focus {
    background-color: var(--neutral-button-color);
    border-color: var(--neutral-button-color);
    box-shadow: 0 0 0 0.2rem var(--neutral-button-color-shadow);
}
.disabled-btn.btn.btn-primary {
    background-color: var(--neutral-button-color-disabled);
    border-color: var(--neutral-button-color-disabled);
}
.disabled-btn.btn.btn-primary:hover {
    background-color: var(--neutral-button-color-disabled);
    border-color: var(--neutral-button-color-disabled);
}
.disabled-btn.btn.btn-primary:focus {
    background-color: var(--neutral-button-color-disabled);
    border-color: var(--neutral-button-color-disabled);
    box-shadow: 0 0 0 0.2rem var(--neutral-button-color-shadow);
}

/* like */
.btn.btn-outline-success {
    border-color: var(--positive-button-color);
    color: var(--positive-button-color);
}
.btn.btn-outline-success:hover {
    background-color: var(--positive-button-color);
    border-color: var(--positive-button-color);
    color: white;
}
.btn.btn-outline-success:focus {
    border-color: var(--positive-button-color);
    box-shadow: 0 0 0 0.2rem var(--positive-button-color-shadow);
}
.btn.btn-success {
    background-color: var(--positive-button-color);
    border-color: var(--positive-button-color);
}
.btn.btn-success:hover {
    background-color: var(--positive-button-color-hover);
    border-color: var(--positive-button-color);
}
.btn.btn-success:focus {
    background-color: var(--positive-button-color);
    border-color: var(--positive-button-color);
    box-shadow: 0 0 0 0.2rem var(--positive-button-color-shadow);
}

/* dislike */
.btn.btn-outline-danger {
    border-color: var(--negative-button-color);
    color: var(--negative-button-color);
}
.btn.btn-outline-danger:hover {
    background-color: var(--negative-button-color);
    border-color: var(--negative-button-color);
    color: white;
}
.btn.btn-outline-danger:focus {
    border-color: var(--negative-button-color);
    box-shadow: 0 0 0 0.2rem var(--negative-button-color-shadow);
}
.btn.btn-danger {
    background-color: var(--negative-button-color);
    border-color: var(--negative-button-color);
}
.btn.btn-danger:hover {
    background-color: var(--negative-button-color-hover);
    border-color: var(--negative-button-color);
}
.btn.btn-danger:focus {
    background-color: var(--negative-button-color);
    border-color: var(--negative-button-color);
    box-shadow: 0 0 0 0.2rem var(--negative-button-color-shadow);
}

/* Forms */
.form-control {
    background-color: black;
}
#searchInput {
    background-color: var(--form-background-color) !important;
}
#nameInput {
    background-color: var(--form-background-color) !important;
}
#usernameInput {
    background-color: var(--form-background-color) !important;
}
#passwordInput {
    background-color: var(--form-background-color);
}

.leaflet-container {
    height: 100vh;
    width: 100vw;
}

input {
    color: #137547;
}

#collapse-container {
    padding-bottom: 30px;
}

